
@{
    ViewData["Title"] = "AdminView";
}

<h1>AdminView</h1>
<h1 style="text-align:center ">Welcom @User.Identity.Name</h1>
<h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdMeal" asp-action="Index">Meals</a>
    </button>
</h2>
<h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdChef" asp-action="Index">Chefs</a>
    </button>
</h2>
<h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdEvent" asp-action="Index">Events</a>
    </button>
</h2>
<h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdCategory" asp-action="Index">Categories</a>
    </button>
</h2>
<h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="AdReviews" asp-action="Index">Reviews</a>
    </button>
</h2>











