@using Microsoft.AspNetCore.Identity;
@using Yummy.ViewModel;



@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </div>
}
else
{
    <div style="display:flex;">
         @* <li class="nav-item"> *@ 
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <span style="font-size:145%;">|</span>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        @* </li> *@
    </div>
}
</ul>
