@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

    <!-- Section: Design Block -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    /* media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      } */

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="/img/gallery/gallery-5.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form id="account" method="post">
            <!-- Email input -->

            <div class="form-outline mb-4">
                            <input asp-for="Input.Email" id="form2Example1" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" for="form2Example1" class="form-label">Email address</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
           
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                            <input asp-for="Input.Password" id="form2Example2" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" for="form2Example2" class="form-label">Password</label>
          
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
        
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
                        <div style="text-align:center">
                            <button id="login-submit" type="submit"  style="color:white;background-color:var(--color-primary)" class="btn btn-block mb-4">LogIn</button>
                        </div>          

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
